<div class="row">
    <div class="col alert alert-danger m-3 rounded-3">
        Proszę wprowadzić adres strony zaczynając od "http://"
    </div>
</div>

@using (Html.BeginForm("GoBack", "Result"))
{
    
    <input class="btn btn-primary m-3" type="submit" value="Powrót" />

}